
<mat-toolbar style="    background-color: #ffcc00;">
    <span style="color: white;">NG <span style="color: #928989;">Sign</span>
</span>
  </mat-toolbar>
<mat-drawer-container  class="example-container">
    <mat-drawer style="width: 20%;" mode="side" opened>Menu content</mat-drawer>
    <mat-drawer-content>
    
<mat-card fxLayout="column" fxLayoutGap="50px">
    <mat-card-header fxLayoutAlign="center center" >
      <div mat-card-avatar ></div>
      <mat-card-title>Add</mat-card-title>
      <mat-card-subtitle>Imge To PDF</mat-card-subtitle>
    </mat-card-header>

     <mat-card-content>
        
        <pdf-form  fxLayoutAlign="center center"></pdf-form>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

    </mat-drawer-content>
  </mat-drawer-container>
